/* Объявление переменных */
:root {
    --pam-color1: #6d31d0;
    --pam-color2: #828cde;
    --pam-color3: #ffdb80;
    --pam-color4: #fdbfa3;
    --pam-color5: #434364;
    --pam-color6: #fff;
    --swiper-theme-color: #fff;

    --font-family: "Avenir Next", sans-serif;
    --second-family: "Montserrat", sans-serif;
}

/* Обнуление стилей */
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #434364;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

p:not(:first-child) {
    margin-block-start: 1em;
}

/* Основные стили */
.wrapper {
    margin: 0 auto;
    overflow: hidden;
    min-height: 100vh;
}

[class*="_container"] {
    box-sizing: content-box;

    margin: 0 auto;
    max-width: 1180px;
    padding: 0 15px;
}

.header {
    background: linear-gradient(141deg, #53269d 0%, #6d31d0 100%);
    padding: 20px 0;
    height: 120px;

    display: flex;
}

.header_container {
    display: flex;
    flex: 1;
}

.header_content {
    flex: 1;
    display: flex;
    margin: auto 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_logo {
    display: flex;
}

.header_logo img {
    width: 120px;
}

.header_nav {
    display: flex;
    align-items: center;
}

.header_nav_list {
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.header_nav_list-item {
    position: relative;
}

.header_nav_list-item a {
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
    padding: 10px 15px;
    display: inline-block;
    transition: color 0.3s ease;
}

.header_nav_list-item a:hover {
    color: #ffdb80;
}

/* Подменю */
.services a {
    position: relative;
    display: flex;
    align-items: center;
    gap: 4px;
}

.header_sublist {
    display: none;
    position: absolute;
    top: 100%;
    left: -50%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 280px;
    height: 120px;
    background: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px 0;
    z-index: 10;
}

.header_sublist-item {}

.header_sublist-item a {
    color: #434364;
    font-size: 14px;
    display: inline-block;
    transition: background-color 0.3s ease, color 0.3s ease;
    padding: 0;
}

.header_sublist-item a:hover {
    background-color: #f3f3f3;
    color: #6d31d0;
}

.services:hover .header_sublist {
    display: flex;
}

/* Кнопка */

._btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    border-radius: 88px;
    padding: 8px 26px;

    box-shadow: 0 14px 23px 0 rgba(28, 37, 44, 0.08);
    background: linear-gradient(152deg, #ffeb80 0%, #fdbfa3 100%);

    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 160%;
    text-align: center;
    color: #6d31d0;

    transition: background-color 0.3s ease, color 0.3s ease;

    white-space: nowrap;
}

.header_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0;

    min-width: 180px;
    height: 48px;
    margin-right: -15px;
    padding: 10px 20px;
    border-radius: 30px;
    box-shadow: 0 14px 23px 0 rgba(28, 37, 44, 0.08);
    background: var(--pam-color3);

    transition: background-color 0.3s ease, color 0.3s ease;
}

._btn:hover {
    background: linear-gradient(90deg, #6d31d0 0%, #ab80ef 100%);
    color: #fff;
}

.nav_burger {
    display: none;

    position: absolute;
    top: 175%;
    right: 0%;
    z-index: 100;
    padding: 15px 0;

    width: 200px;
    height: 260px;
    background: var(--pam-color6);

}

.nav_burger * a {
    color: var(--pam-color5);

}

/* Адаптивное меню */
.menu_burger {
    display: none;
    cursor: pointer;
}

.menu_header {
    position: relative;
}

.menu_burger img {
    width: 40px;
    height: 30px;
}

@media (max-width: 1092px) {
    [class*="_container"] {
        max-width: 780px;
    }

    .header_nav {
        display: none;
    }

    .header_nav_list {
        flex-direction: column;
        gap: 10px;
    }

    .menu_burger {
        display: block;
    }

    .nav_burger .active {
        display: block;
    }

    .header_btn {
        margin-left: auto;
        margin-right: 60px;
    }
}

@media (max-width: 768px) {
    [class*="_container"] {
        max-width: 580px;
    }

    .header_logo img {
        width: 100px;
    }
}

@media (max-width: 480.99px) {
    [class*="_container"] {
        max-width: 380px;
    }

    .header_btn {
        display: none;
    }
}

/* welcome */

.welcome {}

.swiper {}

.welcomeSwiper {}

.swiper-wrapper {}

.swiper-slide {
    position: relative;
    height: 800px;
}

.slide_offer_1 {}

.slide_offer_2 {
    position: relative;
    /* Устанавливаем позиционирование для родителя */
    overflow: hidden;
    /* Обрезаем всё, что выходит за пределы блока */
}

.slide_offer_2::before {
    content: '';
    /* Обязательное свойство для псевдоэлементов */
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(-180deg);
    width: 800px;
    height: 100%;
    background: linear-gradient(270deg, #fff 0%, rgba(255, 255, 255, 0.85) 43.06%, rgba(255, 255, 255, 0) 100%);
    pointer-events: none;
    z-index: -1;
}

.slide_offer_2 .slide_content {
    margin-top: 216px;
}

.slide_offer_3 {
    position: relative;
    overflow: hidden;
}

.slide_offer_3::before {
    content: '';
    position: absolute;
    top: 0;
    left: -68px;
    transform: rotate(-90deg);
    width: 800px;
    height: 100%;
    background: linear-gradient(180deg, #b7d6ef 0%, rgba(183, 214, 239, 0.6) 52.6%, rgba(183, 214, 239, 0) 100%);
    pointer-events: none;
    z-index: -1;
}

.slide_offer_3 .slide_content {
    margin-top: 180px;
}

.slide_offer_4 {
    position: relative;
    overflow: hidden;
}

.slide_offer_4::before {
    content: '';
    position: absolute;
    top: 0;
    left: -68px;
    width: 800px;
    height: 100%;
    background: linear-gradient(-180deg, #746045 0%, rgba(116, 96, 69, 0) 100%);
    transform: rotate(-90deg);
    pointer-events: none;
    z-index: -1;
}

.slide_offer_4 .slide_content {
    margin-top: 180px;
}

.slide_offer_5 {
    position: relative;
    overflow: hidden;
}

.slide_offer_5::before {
    content: '';
    position: absolute;
    top: 0;
    left: -68px;
    width: 800px;
    height: 100%;
    background: linear-gradient(90deg, #eaecf1 0%, rgba(234, 236, 241, 0.65) 43.23%, rgba(234, 236, 241, 0) 100%);
    pointer-events: none;
    z-index: -1;
}

.slide_offer_5 .slide_content {
    margin-top: 180px;
}

.slide_offer_6 {
    position: relative;
    overflow: hidden;
}

.slide_offer_6::before {
    content: '';
    position: absolute;
    top: 0;
    left: -68px;
    width: 800px;
    height: 100%;
    background: linear-gradient(180deg, #8ea1bd 0%, rgba(142, 161, 189, 0) 100%);
    transform: rotate(-90deg);
    pointer-events: none;
    z-index: -1;
}

.slide_offer_6 .slide_content {
    margin-top: 216px;
}


.welcome_sweper_img {
    height: 800px;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -20;
}

.welcome_sweper_img img {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -20;

    height: 800px;
    width: 100%;
    object-fit: cover;
    object-position: left;
}

.slide_content {
    margin-top: 130px;
}

.slide_container {
    position: relative;
    height: 800px;
}

.slide_main-block {
    width: 564px;

    margin-left: 28px;
}

.slide_main-block_variants {
    display: flex;
    justify-content: space-between;

    font-family: var(--second-family);
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    color: var(--pam-color3);
    text-shadow: 0 0 80px 0 #023f76;
}

.slide_main-block_variant {
    position: relative;

    border-radius: 10px;
    padding: 0px 5px;
    height: 20px;
    background: rgba(109, 49, 208, 0.5);

}

.slide_main-block_variant:not(:last-child)::after {
    content: '';
    position: absolute;
    right: -10px;
    top: 50%;

    width: 2px;
    height: 10px;

    transform: translateY(-50%);
    box-shadow: 0 0 80px 0 #023f76;
    background: var(--pam-color6);
}

.slide_main-block_title {
    margin-top: 24px;

    font-family: var(--second-family);
    font-weight: 600;
    font-size: 36px;
    line-height: 77%;
    color: var(--pam-color6);
    text-shadow: 0 0 80px 0 #023f76;
}

.slide_main-block_subtitle {
    font-family: var(--second-family);
    font-weight: 600;
    font-size: 20px;
    line-height: 230%;
    color: var(--pam-color6);
    text-shadow: 0 0 80px 0 #023f76;
}


.slide_main-block_text {
    margin-top: 30px;
    max-width: 505px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 152%;
    letter-spacing: calc(16*0.03px);
    color: var(--pam-color6);
    text-shadow: 0 0 80px #023f76, 0 4px 40px rgba(0, 0, 0, 0.25);
}

.slide_main-block_text_main {
    margin-top: 10px;
}

._black {
    color: black;
}

.welcome_btn {
    margin-top: 24px;

}

.slide_footer {
    margin-left: 28px;
    margin-top: 68px;
}

.slide_footer_title {
    font-family: var(--second-family);
    font-weight: 600;
    font-size: 20px;
    line-height: 160%;
    color: var(--pam-color6);
}

.slide_cities_cards {
    display: flex;
    gap: 40px;

    margin-top: 5px;
}

.slide_cities_card {
    border: 2px solid var(--pam-color6);
    border-radius: 12px;
    box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.02), 5px 6px 7px 0 rgba(0, 0, 0, 0.03), 13px 15px 13px 0 rgba(0, 0, 0, 0.04), 25px 30px 25px 0 rgba(0, 0, 0, 0.04), 41px 50px 47px 0 rgba(0, 0, 0, 0.05), 64px 77px 80px 0 rgba(0, 0, 0, 0.07);
    background: var(--pam-color6);
    padding: 10px 7.5px 15px 7.5px;
    width: 144px;
    height: 180px;
}

.slide_cities_card_img {
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 10px 10px 4px 4px;
    height: 123px;
}

.slide_cities_card_img img {
    max-width: 129px;
    height: 123px;
    object-position: cover;
}

.slide_cities_card_name {
    margin-top: 9px;

    font-family: var(--second-family);
    font-weight: 600;
    font-size: 20px;
    line-height: 160%;
    color: var(--pam-color2);
}

/* swiper welcome */

.custom-pagination {
    position: absolute;
    top: 375px;
    right: 69px;
    z-index: 10;
    width: 5px;
    height: 10px;
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    bottom: var(--swiper-pagination-bottom, 8px);
    top: var(--swiper-pagination-top, auto);
    left: 0;
    width: 100%;
    gap: 12px;
}

.swiper-pagination {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    border-color: #fff;

}

.swiper-pagination-bullet {
    background-color: transparent;
    border: 1px solid #fff;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin: 0 5px;
    opacity: 0.7;
    transition: background-color 0.3s, transform 0.3s;
}

.swiper-pagination-bullet-active {
    background-color: #fff;
    transform: scale(1.7);
    opacity: 1;
}

@media(max-width:1000px) {
    .swiper-slide:not(.slide_offer_2)::before {
        background: transparent;
    }

    .swiper-pagination-bullets.swiper-pagination-horizontal {
        left: -48px;
    }

    .slide_main-block {
        margin-left: 0;
    }

    .slide_footer {
        margin-left: 0;
        margin-top: 9%;
    }
}

@media(max-width:768.99px) {
    .welcome_sweper_img img {
        object-position: center;
    }

    .swiper-slide .slide_content {
        margin-top: 140px;
    }

    .slide_offer_2::before {
        background: linear-gradient(180deg, #fff 35.37%, rgba(255, 255, 255, 0) 100%);
        transform: rotate(0deg);
        width: 100%;
        height: 800px;
    }

    .slide_footer {
        margin-left: -28px;
    }

    .slide_cities_cards {
        gap: 20px;
    }

    .custom-pagination {
        right: 0;
    }
}

@media(max-width:652.99px) {
    .slide_footer {
        position: absolute;
        left: 0;
        bottom: 204px;

        margin: 0;
        width: 100vw;
    }

    .slide_cities_cards {
        overflow: scroll;
        width: 100%;
        margin: 5px 0;
    }

    .slide_cities_cards::-webkit-scrollbar {
        width: 0;
    }

    .slide_cities_cards::-webkit-scrollbar-thumb {
        background: transparent;
        border-radius: 0;
    }

    .slide_cities_cards::-webkit-scrollbar-track {
        background: transparent;
    }

    .custom-pagination {
        position: absolute;
        right: 56%;
        bottom: 40px;
        z-index: 10;
        width: auto;
        height: auto;
    }

    .swiper-pagination {
        flex-direction: row;
        position: absolute;
        text-align: center;
        transition: 0.3s opacity;
        transform: translate3d(0, 0, 0);
        z-index: 10;
    }

    .swiper-pagination-bullet {
        min-width: 12px;
        min-height: 12px;
    }

}

@media(max-width:480.99px) {
    .swiper-slide .slide_content {
        margin-top: 20px;
        text-align: center;
    }

    .slide_footer_title {
        text-align: left;
    }

    .slide_main-block_variants {
        flex-wrap: wrap;
        gap: 30px;
        justify-content: center;
    }

    .slide_main-block_variant:not(:last-child)::after {
        right: -15px;
    }

    .slide_main-block {
        max-width: 400px;
        width: auto;
    }

    .slide_cities_cards {
        overflow: scroll;
        width: 100%;
    }

    .slide_footer {
        bottom: 66px;
        width: 100vw;
    }

}

@media(max-width:380.99px) {
    .slide_footer {
        margin-top: 0%;
    }

    .slide_main-block * {
        line-height: normal;
    }
}



/* services */

.service {
    padding: 80px 0;
    background: linear-gradient(180deg, #828cde 0%, #6d31d0 100%);
}

.service_container {}

.service_content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.service_title {
    flex: 0;
    position: relative;

    font-family: var(--font-family);
    font-weight: 600;
    font-size: 36px;
    line-height: 111%;
    text-transform: uppercase;
    text-align: center;
    color: var(--pam-color6);
}

.service_title::before {
    content: '';
    position: absolute;
    left: -54px;
    bottom: -20px;

    border: 1px solid var(--pam-color4);
    width: 380px;
    height: 1px;
}

.service_cards {
    margin-top: 80px;

    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.service_card {
    flex: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 20px;
    width: 380px;
    height: 515px;
    box-shadow: 0 14px 23px rgba(28, 37, 44, 0.08);
    background: var(--pam-color6);

    text-align: center;
}

.service_card * {
    margin-bottom: 20px;
}

.service_card_img {
    border-radius: 20px 20px 20px 0;
    min-width: 100%;
    min-height: 260px;
    overflow: hidden;
}

.service_card_img img {
    width: 100%;
    height: 100%;

    object-fit: cover;
}

.service_card_title {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 28px;
    line-height: 114%;
    text-transform: uppercase;
    text-align: center;
    color: var(--pam-color5);

    width: 250px;
}

.service_card_text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--pam-color5);

    width: 320px;
}

.service_card_btn {}

@media(max-width:768.99px) {
    .service_cards {
        width: 100%;
    }

    .service_card {

        min-width: 100%;
    }
}

/* paradice */


.paradise {
    display: flex;
    padding: 80px 0;
    align-items: center;
}

.paradise_head_img,
.paradise_foot_img {
    position: relative;
    z-index: 2;

    width: 100%;
    height: 500px;
}

.paradise_head_img::after {
    content: '';
    position: absolute;
    z-index: 3;
    top: 0;
    right: 0;

    width: 80px;
    height: 100%;
    background: var(--pam-color6);
    opacity: 0.5;
}

.paradise_head_img img,
.paradise_foot_img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.paradise_foot_img::after {
    content: '';
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;

    width: 80px;
    height: 100%;
    background: var(--pam-color6);
    opacity: 0.5;
}


.paradise_container {}

.paradise_content {
    width: 480px;
    text-align: center;
}

.paradise_content *:not(:first-child) {
    margin-top: 30px;
}

.paradise_title {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 40px;
    line-height: 72%;
    text-transform: uppercase;
    text-align: center;
    color: var(--pam-color5);
}

.paradise_text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--pam-color5);
}

.paradise_btn {}

@media(max-width:1100.99px) {
    .paradise {
        align-items: start;
    }

    .paradise *::after {
        display: none;
    }

    .paradise_head_img,
    .paradise_foot_img {
        height: 290px;
    }
}

@media(max-width:820.99px) {
    .paradise {
        flex-direction: column;
        padding: 0;
    }

    .paradise_content {
        padding: 40px 0;
    }

    .paradise_head_img,
    .paradise_foot_img {
        height: 290px;
        width: 100%;
    }

}

@media(max-width:500.99px) {
    .paradise_container {
        padding: 0;
        max-width: 100%;
    }

    .paradise_content {
        max-width: 444px;
        width: auto;
    }
}

/* why choose cyprus */

.why_choose_cyprus {
    padding: 80px 0;
    background: linear-gradient(180deg, #fefc9e 0%, #fdbfa3 78.65%);
}

.why_choose_cyprus_container {}

.why_choose_cyprus_content {}

.block-cards {}

.block-cards_desk {}

.block-cards_desk_title {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 36px;
    line-height: 111%;
    text-transform: uppercase;
    text-align: center;
    color: var(--pam-color5);
}

.block-cards_desk_subtile {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--pam-color5);

    max-width: 580px;
    margin: 0 auto;
    margin-top: 20px;
}

.block-cards_cads {
    display: flex;
    gap: 20px;
}

.block-cards_card {
    display: flex;
    flex-direction: column;
    align-items: center;

    max-width: 280px;
    margin-top: 60px;

}

.block-cards_card_icon {}

.block-cards_card_icon img {}

.block-cards_card_title {
    font-family: var(--second-family);
    font-weight: 600;
    font-size: 20px;
    line-height: 160%;
    text-align: center;
    color: var(--pam-color1);

    margin-top: 34px;
}

.block-cards_card_text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--pam-color5);

    margin-top: 4px;
}

@media(max-width:1000.99px) {
    .block-cards_cads {
        flex-wrap: wrap;
        justify-content: center;
    }

    .block-cards_desk_subtile {
        max-width: 468px;
    }
}

@media(max-width:572.99px) {
    .block-cards_card_icon img {
        max-width: 100px;
        max-height: 100px;
    }

    .block-cards_card {
        max-width: 168px;
    }
}


/* location */

.location {
    background-color: #ffde8a61;

    padding: 81px 0 30px 0;
}

.location_container {
    display: flex;
    gap: 20px;
}

.location_map {}

.location_map_title {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 28px;
    line-height: 114%;
    text-transform: uppercase;
    color: var(--pam-color1);
}



.location_map_subtitle {
    font-family: var(--second-family);
    font-weight: 600;
    font-size: 20px;
    line-height: 160%;
    color: var(--pam-color5);
}

.location_map_img {
    position: relative;

}

.location_map_img_city_name {
    position: absolute;

    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.03em;
    color: var(--pam-color5);

    border: none;
    background-color: transparent;
}

.location_map_img_city_name:hover {
    transform: scale(1.2);
    font-weight: 700;
}

.name-larnaka {
    top: 69.57%;
    left: 44.57%;
}

.name-limassol {
    top: 77.78%;
    left: 24.74%;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.03em;
    color: var(--pam-color6);
}

.name-nicosia {
    top: 52.90%;
    left: 29.95%;
}

.name-paphos {
    top: 68.36%;
    left: 6.08%;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.03em;
    color: var(--pam-color6);
}


.location_city-desk {
    background-color: #fff;
    display: none;
}

.location_city-desk.active {
    display: block;
}

.location_city_images {
    display: flex;
    justify-content: space-around;
}

.location_city_image {}

.location_city_title {
    font-family: var(--second-family);
    font-weight: 600;
    font-size: 20px;
    line-height: 160%;
    color: var(--pam-color5);
    text-align: center;
}

.location_city_text {
    padding: 10px 50px 26px 50px;

    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--pam-color5);
}

@media(max-width:1200.99px) {
    .location_container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .location_map_img {
        display: flex;
        width: 681px;
        margin: 0 auto;

    }

    .location_map_img img {
        object-fit: cover;
        height: auto;
        width: 100%;
    }

    .location_city-desk.active {
        width: 80%;
    }

    .location_city-desk {
        max-width: 464PX;
    }
}

@media(max-width:768.99px) {
    .location_map_img {
        width: 480px;
        height: 290px;
    }

    .location_city_image {
        width: 100%;
        height: 100%;
    }

    .location_city_image img {
        max-width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

@media(max-width:500.99px) {
    .location_map_img {
        width: 100%;
        height: 100%;
    }
}

/* who we */

.who_we {
    background: linear-gradient(180deg, #828cde 0%, #6d31d0 100%);
}

.who_we_container {}

.who_we_content {
    display: flex;
    gap: 120px;

    padding: 40px 0;

    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.039em;
    color: var(--pam-color6);
}

.who_we_desk {}

.who_we_title {
    position: relative;

    max-width: 240px;
    min-width: 240px;
    margin-top: 24px;

    font-family: var(--font-family);
    font-weight: 600;
    font-size: 36px;
    line-height: 111%;
    text-transform: uppercase;
    color: var(--pam-color6);
}

.who_we_title::after {
    content: '';

    position: absolute;

    border: 2px solid var(--pam-color4);
    bottom: -10px;
    left: -143%;

    width: 272%;
    height: 0px;
}

.who_we_text {
    margin-top: 28px;
}

.who_we_btn {
    margin-top: 54px;
}

._btn {}

.who_we_card {
    display: flex;
    gap: 33px;

    border-radius: 20px;
    padding: 20px;
    max-width: 580px;
    min-width: 580px;
    height: 440px;

    box-shadow: 0 14px 10px 0 rgba(0, 0, 0, 0.25);
    background-color: rgba(255, 255, 255, 0.8);
}

.who_we_card_img {}

.who_we_card_content {}

.who_we_card_title {
    margin-right: 7px;

    font-family: var(--second-family);
    font-weight: 600;
    font-size: 20px;
    line-height: 160%;
    color: var(--pam-color1);
}

.who_we_card_text {
    margin-top: 15px;

    color: var(--pam-color5);
}

.who_we_card_btn {
    margin-top: 15px;

    border-radius: 24px;
    padding: 11px 27px;
    width: 147px;
    height: 50px;
}


@media(max-width:1200.99px) {
    .who_we_title {
        text-transform: none;
        font-size: 40px;
        line-height: 72%;
    }

    .who_we_content {
        flex-direction: column;
    }
}

@media(max-width:1200.99px) {
    .who_we_card_content {
        gap: 44px;
    }

    .who_we_title {
        text-transform: none;
        font-size: 40px;
        line-height: 72%;
    }

    .who_we_content {
        flex-direction: column;
    }
}

@media(max-width:768.99px) {
    .who_we_title {
        margin: 0 auto;
        text-align: center;
    }
}

@media(max-width:600.99px) {
    .who_we_card {
        flex-direction: column;

        min-width: 100%;
        height: 100%;

        text-align: center;
        padding: 20px 0 40px 0;
    }

}


/* how we */

.how_we {
    padding: 80px 0;

    background: linear-gradient(180deg, #fefc9e 0%, #fdbfa3 78.65%);
}

.how_we_container {}

.how_we_content {}

/* contact us */


.contact_us {
    background: linear-gradient(180deg, rgba(109, 49, 208, 0.1) 0%, rgba(109, 49, 208, 0.21) 28.65%, rgba(109, 49, 208, 0.47) 53.12%, #6d31d0 100%);
    padding: 80px 0;
}

.contact_us_container {}

.contact_us_content {
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}

.contact_us_title {
    position: relative;

    width: 380px;
    height: 50px;

    font-family: var(--font-family);
    font-weight: 600;
    font-size: 36px;
    line-height: 111%;
    text-transform: uppercase;
    text-align: center;
    color: var(--pam-color5);
}

.contact_us_title::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 0px;

    border: 2px solid var(--pam-color4);
}

.contact_us_contacts {
    font-family: var(--second-family);
    font-weight: 600;
    font-size: 20px;
    line-height: 160%;
    color: var(--pam-color1);
}

.contact_us_contacts>*:not(:first-child) {
    margin-top: 30px;
}

.contact_us_tel img {
    margin-bottom: 6px;
}

.contact_us_contacts_img {
    border-radius: 20px;
    width: 40px;
    height: 40px;

    background: linear-gradient(90deg, #6d31d0 0%, #ab80ef 100%);

    margin: 0 auto;
}

.contact_us_contacts_img img {
    object-fit: none;
    width: 100%;
    height: 100%;
}

.contact_us_contacts_title {}

.contact_us_mail img {
    margin-bottom: 10px;
}

.contact_us_feedback {
    border-radius: 60px;
    width: 100%;
    padding: 34px 10px;

    backdrop-filter: blur(500px);
    background: rgba(255, 219, 128, .5);
}

.contact_us_feedback_title {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 28px;
    line-height: 114%;
    text-transform: uppercase;
    text-align: center;
    color: var(--pam-color5);
}

.contact_us_feedback_form {
    display: flex;
    flex-wrap: wrap;
    gap: 14px;
    justify-content: space-between;

    margin: 0 auto;
    margin-top: 20px;
    max-width: 580px;
}

.feedback_form_input {
    flex: 1 1 auto;

    border-radius: 20px;
    border: transparent;
    min-width: 280px;
    height: 47px;
    padding-left: 23px;

    box-shadow: 0 4px 8px 0 rgba(28, 37, 44, 0.08);
    background: var(--pam-color6);

    font-family: var(--font-family);
font-weight: 500;
font-size: 16px;
line-height: 140%;
color: rgba(67, 67, 100, .5);
}
.feedback_form_input_message{
    width: 100%;
    height: 200px;

    padding: 18px 23px;
}
.form_link {
    text-decoration:underline;
}

.feedback_form_btn {
    margin: 0 auto;
    margin-top:18px;
}
.label_checkbox{
    display: flex;
    align-items: center;
    text-align: left;
    gap: 24px;

    font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.03em;
color: var(--pam-color5);
}
.feedback_form_input_checkbox{
    flex: 1 0 auto;
    appearance: none;

    border: 1px solid;
    border-color:var(--pam-color6) ;
border-radius: 4px;
width: 32px;
height: 32px;
opacity: 1;

transition: none;

margin: auto 0;
}

input[type="checkbox"]:checked {
    appearance: auto;
    accent-color: #6d31d0; 
    background-color: #fff;

    transition: none;
}

._btn {}

@media(max-width:1000px){
    .contact_us_feedback{
        min-width: 600px;
    }
}

@media(max-width:630px){
    .contact_us_feedback{
        min-width: auto;
    }
}

